body {
  width: 1920px;
}

header {
  width: 1920px;
  background-color: #F9F5F4;
}

header .header_title {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  text-align: center;
  padding-top: 50px;
}

header .header_logo {
  text-align: center;
}

header ul {
  width: 412px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: auto;
  margin-right: 51px;
  background-color: #896560;
  padding: 15px 20px;
  border-radius: 25px;
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}

header .header_img {
  text-align: center;
  max-width: 100%;
  padding-bottom: 50px;
}

.information .information_area {
  width: 1920px;
}

.information .information_title {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.information .information_text table td {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  padding-bottom: 30px;
}

.information .information_changingeveryday {
  width: 360px;
  font-size: 20px;
  background-color: #BA4146;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.information .information_changingeveryday a {
  text-decoration: none;
  color: #FFFFFF;
}

.information .information_changingeveryday span {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.importantly .importantly_area {
  width: 1920px;
  background-color: #F9F5F4;
}

.importantly .importantly_area .importantly_team {
  display: flex;
  padding-top: 200px;
}

.importantly .importantly_area .importantly_store {
  text-align: left;
}

.importantly .importantly_area .importantly_title {
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding-bottom: 102px;
}

.importantly .importantly_area .importantly_text {
  width: 560px;
  height: 252px;
  background-color: #FFFFFF;
}

.importantly .importantly_area .importantly_info {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  padding-bottom: 30px;
}

.importantly .importantly {
  display: flex;
  background-color: #F9F5F4;
  padding-bottom: 30px;
}

.importantly .importantly .importantly_img {
  margin-left: auto;
  margin-right: auto;
}

.importantly .importantly .img_text {
  width: 360px;
}

.menu_area {
  background-color: #FFFFFF;
}

.menu_area .menu_title {
  text-align: center;
  padding-bottom: 30px;
}

.menu_area .menu_list {
  width: 800px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-bottom: 30px;
}

.menu_area .menu_item {
  width: 138px;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  background-color: #896560;
  border-radius: 55px;
  text-align: center;
  justify-content: space-between;
  padding: 15px;
}

.menu_food {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu_food h2 {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #896560;
  border-bottom: 1px solid #896560;
}

.menu_noodle {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.menu_noodle td {
  padding-right: 60px;
  padding-bottom: 25px;
}

.menu_changingeveryday {
  width: 360px;
  font-size: 20px;
  background-color: #BA4146;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.menu_changingeveryday a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu_changingeveryday span {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.access {
  width: 1920px;
  background-color: #F9F5F4;
}

.access_main {
  margin-left: auto;
  margin-right: auto;
}

.access_area {
  padding-bottom: 30px;
}

.access_info {
  display: flex;
}

.access_list {
  width: 360px;
  padding-left: 80px;
}

.access_text {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
}

.access_text_sub {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  padding-bottom: 30px;
}

.access_red {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #C8464C;
  padding-bottom: 28px;
}

.access_link {
  list-style: none;
  padding-bottom: 20px;
}

.access_link a {
  color: #896560;
}

.footer {
  width: 1920px;
  height: 150px;
  background-color: #896560;
}

.footer_main {
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
