@charset "UTF-8";
header {
  width: 100%;
  background-color: #F9F5F4;
}

header .header_title {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  text-align: center;
  padding-top: 50px;
}

header .header_logo {
  text-align: center;
}

header .header_list ul {
  max-width: 412px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: auto;
  margin-right: 51px;
  background-color: #896560;
  padding: 15px 20px;
  border-radius: 25px;
}

header .header_list li:hover {
  border-bottom: 1px solid #FFFFFF;
}

header .header_list a {
  text-decoration: none;
  color: #FFFFFF;
}

header .header_img {
  text-align: center;
  padding-bottom: 50px;
}

header .header_img img {
  width: 80%;
  max-width: 1200px;
}

.sp-menu {
  margin-top: 0;
  margin-right: 0;
}

.sp-menu #open {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  width: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #F9F5F4;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  width: 70%;
  max-width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  width: 65px;
  height: 65px;
  color: #FFFFFF;
  text-align: center;
  background-color: #896560;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay_title {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: #896560;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.overlay_logo {
  text-align: center;
  padding-bottom: 40px;
}

.overlay_list {
  text-align: center;
}

.overlay_list li {
  margin-top: 40px;
}

.overlay_list a {
  text-decoration: none;
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #896560;
  border-bottom: solid 1px #FFFFFF;
}

.information .information_title {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.information .information_logo {
  padding-bottom: 30px;
}

.information .information_time {
  display: flex;
  justify-content: space-between;
}

.information .information_text {
  width: auto;
  max-width: 360%;
  padding-bottom: 200px;
}

.information .information_text table td {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  padding-bottom: 30px;
}

.information .information_changingeveryday {
  width: auto;
  max-width: 360px;
  font-size: 20px;
  background-color: #C8464C;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.information .information_changingeveryday a {
  text-decoration: none;
  color: #FFFFFF;
}

.information .information_changingeveryday span {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.information .information_changingeveryday:hover {
  background-color: #FFFFFF;
  color: #C8464C;
  border: solid 1px #C8464C;
}

.information .information_changingeveryday:hover a {
  color: #C8464C;
}

.information .information_changingeveryday:hover span {
  color: #C8464C;
}

.container {
  position: relative;
  background: #FFFFFF;
  height: 50vh;
}

.wave1 {
  position: absolute;
  height: 150px;
  width: 100%;
  background: #FFFFFF;
  bottom: 0;
}

.wave1::before, .wave1::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave1::before {
  width: 55%;
  height: 109%;
  background-color: #F9F5F4;
  right: 0%;
  top: 60%;
}

.wave1::after {
  width: 55%;
  height: 100%;
  background-color: #FFFFFF;
  left: -1.5%;
  top: 35%;
}

.importantly .importantly_area {
  background-color: #F9F5F4;
}

.importantly .importantly_area .importantly_team {
  display: flex;
  padding-top: 100px;
}

.importantly .importantly_area .importantly_store {
  width: 80%;
  max-width: 920px;
  text-align: left;
}

.importantly .importantly_area .importantly_store img {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}

.importantly .importantly_area .importantly_title {
  flex-direction: column;
}

.importantly .importantly_area .importantly_title img {
  padding-bottom: 102px;
}

.importantly .importantly_area .importantly_text {
  width: 100%;
  max-width: 560px;
  background-color: #FFFFFF;
  padding-top: 30px;
}

.importantly .importantly_area .importantly_info {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  padding-bottom: 30px;
}

.importantly .importantly_area p {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
}

.importantly .importantly {
  width: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #F9F5F4;
  padding-bottom: 150px;
}

.importantly .importantly .importantly_img1 {
  vertical-align: bottom;
  margin-top: 150px;
}

.importantly .importantly .img_text {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding-top: 30px;
}

.importantly .importantly p {
  color: #896560;
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
}

.container {
  position: relative;
  background: #F9F5F4;
  height: 50vh;
}

.wave2 {
  position: absolute;
  height: 150px;
  width: 100%;
  background: #F9F5F4;
  bottom: 0;
}

.wave2::before, .wave2::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave2::before {
  width: 55%;
  height: 109%;
  background-color: #FFFFFF;
  right: 0%;
  top: 60%;
}

.wave2::after {
  width: 55%;
  height: 100%;
  background-color: #F9F5F4;
  left: -1.5%;
  top: 35%;
}

.menu_area {
  background-color: #FFFFFF;
  padding-bottom: 150px;
}

.menu_area .menu_title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.menu_area .menu_list {
  width: auto;
  max-width: 800px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-bottom: 30px;
}

.menu_area .menu_item {
  width: 90%;
  max-width: 138px;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  background-color: #896560;
  border-radius: 55px;
  text-align: center;
  justify-content: space-between;
  padding: 15px;
}

.menu_area .menu_item a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu_area .menu_item:hover {
  background-color: #FFFFFF;
  border: solid 1px #896560;
}

.menu_area .menu_item:hover a {
  color: #896560;
}

.menu_area .menu_food {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu_area .menu_food h2 {
  font-family: Noto Sans JP;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #896560;
  border-bottom: 1px solid #896560;
}

.menu_area .menu_noodle {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.menu_area .menu_img img {
  width: auto;
  max-width: 360px;
  margin: 0 auto;
}

.menu_area .menu_changingeveryday {
  width: 360px;
  font-size: 20px;
  background-color: #BA4146;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.menu_area .menu_changingeveryday a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu_area .menu_changingeveryday span {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.menu_area .menu_changingeveryday:hover {
  background-color: #FFFFFF;
  color: #C8464C;
  border: solid 1px #C8464C;
}

.menu_area .menu_changingeveryday:hover a {
  color: #C8464C;
}

.menu_area .menu_changingeveryday:hover span {
  color: #C8464C;
}

.container {
  position: relative;
  background: #FFFFFF;
  height: 2vh;
}

.wave3 {
  position: absolute;
  height: 100px;
  width: 100%;
  background: #FFFFFF;
  bottom: 0;
}

.wave3::before, .wave3::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave3::before {
  width: 55%;
  height: 100%;
  background-color: #FFFFFF;
  right: 0%;
  top: 40%;
}

.wave3::after {
  width: 55%;
  height: 109%;
  background-color: #F9F5F4;
  left: -1.5%;
  top: 60%;
}

.access {
  width: auto;
  background-color: #F9F5F4;
  margin-left: auto;
  margin-right: auto;
}

.access_main {
  padding-bottom: 100px;
}

.access_area {
  width: 200px;
  margin-left: 25%;
  margin-right: 75%;
  padding-top: 100px;
  padding-bottom: 30px;
}

.access_info {
  width: 80%;
  max-width: 900px;
  display: flex;
  margin-left: 25%;
  margin-right: 75%;
}

.access_list {
  width: 30%;
  max-width: 360px;
  padding-left: 80px;
}

.access td {
  padding-bottom: 30px;
}

.access_text {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
}

.access_text_sub {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #896560;
}

.access_red {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #C8464C;
}

.access_link {
  list-style: none;
  padding-bottom: 30px;
}

.access_link a {
  color: #896560;
}

.access_link a:hover {
  color: #C8464C;
}

.footer {
  height: 150px;
  background-color: #896560;
}

.footer_main {
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}

@media screen and (min-width: 769px) {
  /* PC用CSS -------------- */
}

@media screen and (max-width: 480px) {
  /* スマホ用CSS -------------- */
  .header_title {
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.05em;
  }
  .header_logo {
    padding-bottom: 30px;
  }
  .header_logo img {
    width: 40%;
    max-width: 100%;
    height: auto;
  }
  .header_list {
    display: none;
  }
  .header_img {
    width: auto;
  }
  .header_img img {
    width: 100%;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .overlay {
    padding: auto;
  }
  .information_title {
    width: auto;
    max-width: 100%;
  }
  .information_logo {
    text-align: center;
  }
  .information_logo img {
    width: 40%;
    max-width: 100%;
    height: auto;
  }
  .information_time {
    width: 90%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .information_text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .information_changingeveryday {
    width: 80%;
    max-width: 100%;
    height: auto;
  }
  .wave1 {
    width: 100%;
    max-width: 100%;
  }
  .importantly {
    width: auto;
  }
  .importantly_area {
    width: 140%;
    max-width: 140%;
    height: auto;
  }
  .importantly_team {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .importantly_store {
    order: 2;
  }
  .importantly_store img {
    width: 90%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .importantly_title {
    order: 1;
  }
  .importantly_title img {
    width: 40%;
    max-width: 100%;
    height: auto;
  }
  .importantly_text {
    order: 3;
    width: 100%;
    max-width: 50%;
    height: auto;
  }
  .importantly {
    width: 70%;
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }
  .importantly_img1 {
    width: auto;
    text-align: center;
  }
  .importantly_img1 img {
    width: 80%;
    max-width: 100%;
    height: auto;
  }
  .importantly_img2 {
    width: auto;
    text-align: center;
  }
  .importantly_img2 img {
    width: 80%;
    max-width: 100%;
    height: auto;
  }
  .img_text {
    font-size: 10px;
  }
  .menu_title {
    max-width: auto;
  }
  .menu_title img {
    width: 40%;
    max-width: 100%;
    height: auto;
  }
  .menu_list {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .menu_item {
    margin: 5px;
    width: 50%;
  }
  .menu_food {
    max-width: 100%;
  }
  .menu_food_title {
    width: 80%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu_noodle {
    font-family: Noto Sans JP;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    flex-direction: column-reverse;
  }
  .menu_noodle td {
    padding: 0;
    text-align: center;
  }
  .menu_img {
    width: auto;
    text-align: center;
  }
  .menu_img img {
    width: 90%;
    max-width: 100%;
    height: auto;
  }
  .menu_changingeveryday {
    width: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  .access {
    width: 100%;
    max-width: 100%;
  }
  .access_info {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .access_map {
    text-align: center;
  }
  .access_map iframe {
    width: 80%;
    max-width: 100%;
  }
  .access_list {
    width: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  .footer {
    width: auto;
  }
  .footer_main {
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.05em;
  }
}
